@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light-italic;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

* {
  font-family: Roboto-regular;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2937;
}

/* start of header code */

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}

.logo {
  width: 100px;
  height: 75px;
}

.nav-list-item {
  display: inline-block;
  padding: 20px;
}

.nav-list-item a {
  color: white;
  text-decoration: none;
}

.nav-list-item a:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.cart-logo {
  transform: translateY(30%);
}

.cart-logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

/* end of header code */

/* start of hero code */

.hero-section {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  max-height: 45vh;
}

/* end of hero code */

/* start of cart section */

.cart-section {
  margin: 0 auto;
  margin-top: 40px;
  color: white;
  width: 95%;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table td,
.cart-table th {
  padding: 12px 15px;
  text-align: center;
}

.cart-table th {
  font-family: Roboto-medium;
  font-size: 18px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.cart-table td {
  font-family: Roboto-light;
  font-size: 12px;
}

.remove-logo {
  cursor: pointer;
}

.remove-logo:hover {
  transform: scale(1.2);
}

.quantity-input {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera to remove the arrows*/
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox to remove the arrows*/
.quantity-input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 500px) {
  .cart-section {
    width: 100%;
  }

  .cart-table thead {
    display: none;
  }

  .cart-table,
  .cart-table tbody,
  .cart-table tr,
  .cart-table td {
    display: block;
    width: 100%;
  }

  .cart-table td,
  .cart-table th {
    border: 1px solid white;
  }

  .cart-table tr {
    margin-bottom: 15px;
  }

  .cart-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .cart-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    text-align: left;
  }
}

/* end of cart section */

/* start of coupon section */

.coupon-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.coupon-input {
  display: flex;
  flex-direction: column;
}

.coupon-input-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-coupon {
  width: 250px;
  height: 30px;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.input-coupon:focus::placeholder {
  color: transparent;
}

.apply-btn {
  width: 80px;
  height: 30px;
  border: 0;
  background-color: palevioletred;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.apply-btn:hover {
  background-color: white;
  color: palevioletred;
  outline: 1px solid black;
  transition: 0.3s ease-out;
}

.cart-total {
  background-color: #d9d9d9;
  color: #1f2937;
  width: 400px;
  height: max-content;
  border-radius: 10px;
}

.cart-total-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cart-total-table thead {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.cart-total-table tbody {
  padding: 20px;
  line-height: 30px;
}

.cart-total-table tbody tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-total-btn {
  background-color: palevioletred;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-family: Roboto-medium;
  font-size: 18px;
}

.cart-total-btn:hover {
  background-color: white;
  color: palevioletred;
  transition: 0.3s ease-out;
}

.cart-total-medium,
.cart-total-light {
  font-size: 18px;
}

.cart-total-medium {
  font-family: Roboto-medium;
}

.cart-total-light {
  font-family: Roboto-light;
}

/* end of coupon section */

/*start of newsletter code */

.newsletter {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #205688;
  justify-content: space-around;
  align-items: center;
}

.newsletter-background {
  height: 15vh;
  display: flex;
  background-image: url("../images/newsletter-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.newsletter-column h3 {
  color: white;
  font-size: 36px;
}

.newsletter-column p {
  margin-top: 10px;
  color: #474b52;
  font-size: 16px;
}

.newsletter-link {
  text-decoration: none;
  color: palevioletred;
}

.newsletter-link:hover {
  color: #474b52;
  transition: 0.3s ease-out;
}

.newsletter-input {
  display: flex;
  flex-direction: row;
}

.input-email {
  width: 375px;
  height: 40px;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.input-email:focus::placeholder {
  color: transparent;
}

.signup-btn {
  width: 100px;
  height: 40px;
  border: 0;
  background-color: palevioletred;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.signup-btn:hover {
  background-color: white;
  color: palevioletred;
  outline: 1px solid black;
  transition: 0.3s ease-out;
}

/*end of newsletter code */

/* start of footer code */

footer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 14px;
  padding: 50px;
}

.footer-title {
  font-size: 24px;
}

.footer-contact {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-contact h3 {
  margin-top: 1em;
}

.footer-list {
  margin-top: 1em;
  line-height: 2em;
  list-style: none;
}

.footer-list .grey {
  font-family: Roboto-light;
  color: grey;
}

.contact-info p {
  margin-top: 20px;
}

.footer-socials {
  margin-top: 20px;
}

.footer-icons {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.footer-icons:hover {
  transform: scale(1.2);
}

.map {
  display: flex;
  align-items: center;
}

.footer-about-us {
  flex: 1;
}

.footer-list .link {
  text-decoration: none;
  color: grey;
  font-family: Roboto-light;
}

.footer-list .link:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.footer-about-us p {
  margin-top: 20px;
}

.payment {
  margin-top: 20px;
}

.user-info {
  flex: 1;
}

/* end of footer code */
