@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light-italic;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

* {
  font-family: Roboto-regular;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f2937;
}

/* start of header code */

.header-sticky {
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}

.logo {
  width: 100px;
  height: 75px;
}

.nav-list-item {
  display: inline-block;
  padding: 20px;
}

.nav-list-item a {
  color: white;
  text-decoration: none;
}

.nav-list-item a:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.cart-logo {
  transform: translateY(30%);
}

.cart-logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

/* end of header code */

/* start of hero code */

.hero-section {
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  max-height: 45vh;
}

/* end of hero code */

/* start of gallery code */

.cards-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: max-content;
  background-color: #d9d9d9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-2px);
}

.card-title {
  margin: 1rem auto;
}

.product-image {
  max-width: 320px;
  max-height: 300px;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: palevioletred;
}

.shopping-cart-image {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.shopping-cart-image:hover {
  border: 1px solid palevioletred;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 5px;
}

.pag-btn {
  width: 35px;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  background-color: palevioletred;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
}

.pag-btn:hover {
  background-color: white;
  color: palevioletred;
}

/* end of gallery code */

/*start of newsletter code */

.newsletter {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #205688;
  justify-content: space-around;
  align-items: center;
}

.newsletter-background {
  height: 15vh;
  display: flex;
  background-image: url("../images/newsletter-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.newsletter-column h3 {
  color: white;
  font-size: 36px;
}

.newsletter-column p {
  margin-top: 10px;
  color: #474b52;
  font-size: 16px;
}

.newsletter-link {
  text-decoration: none;
  color: palevioletred;
}

.newsletter-link:hover {
  color: #474b52;
  transition: 0.3s ease-out;
}

.newsletter-input {
  display: flex;
  flex-direction: row;
}

.input-email {
  width: 375px;
  height: 40px;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  outline: none;
}

.input-email:focus::placeholder {
  color: transparent;
}

.signup-btn {
  width: 100px;
  height: 40px;
  border: 0;
  background-color: palevioletred;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.signup-btn:hover {
  background-color: white;
  color: palevioletred;
  outline: 1px solid black;
  transition: 0.3s ease-out;
}

/*end of newsletter code */

/* start of footer code */

footer {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 14px;
  padding: 50px;
}

.footer-title {
  font-size: 24px;
}

.footer-contact {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-contact h3 {
  margin-top: 1em;
}

.footer-list {
  margin-top: 1em;
  line-height: 2em;
  list-style: none;
}

.footer-list .grey {
  font-family: Roboto-light;
  color: grey;
}

.contact-info p {
  margin-top: 20px;
}

.footer-socials {
  margin-top: 20px;
}

.footer-icons {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.footer-icons:hover {
  transform: scale(1.2);
}

.map {
  display: flex;
  align-items: center;
}

.footer-about-us {
  flex: 1;
}

.footer-list .link {
  text-decoration: none;
  color: grey;
  font-family: Roboto-light;
}

.footer-list .link:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.footer-about-us p {
  margin-top: 20px;
}

.payment {
  margin-top: 20px;
}

.user-info {
  flex: 1;
}

/* end of footer code */
