@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-light-italic;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

* {
  font-family: Roboto-regular;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #1f2937;
}

/* start of header code */

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}

.logo {
  width: 100px;
  height: 75px;
}

.nav-list-item {
  display: inline-block;
  padding: 20px;
}

.nav-list-item a {
  color: white;
  text-decoration: none;
}

.nav-list-item a:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.cart-logo {
  transform: translateY(30%);
}

.cart-logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

/* end of header code */

/* start of hero code */

.hero-section {
  background-color: #1f2937;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-area {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-family: Roboto-bold;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-btn {
  background-color: palevioletred;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: white;
  color: palevioletred;
  transition: 0.3s ease-out;
}

.image-area {
  flex: 1;
  display: flex;
  justify-content: end;
}

.hero-image {
  width: 70%;
}

/* end of hero code */

/* start of boxes area code */

.boxes-section {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.boxes-title {
  font-size: 36px;
  color: #1f2937;
  font-family: Roboto-bold;
}

.cards-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  max-width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border: 2px solid palevioletred;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
}

.product-image {
  max-width: 150px;
  max-height: 150px;
}

.product-info {
  font-family: Roboto-light-italic;
  font-size: 12px;
  padding: 3px;
}

/* end of boxes area code */

/* start of quote section */

.quote-section {
  margin-top: 40px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em;
}

.quote {
  font-size: 36px;
  font-family: Roboto-light-italic;
}

.author {
  font-size: 18px;
  font-family: Roboto-bold;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* end of quote section */

/* start of call to action section */

.action {
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 3em;
  background-color: palevioletred;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.action-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 2;
}
.action-title {
  font-size: 18px;
  font-family: Roboto-bold;
}

.action-text {
  font-size: 12px;
  font-family: Roboto-light-italic;
}

.action-signup {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.action-btn {
  width: 100px;
  height: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  color: palevioletred;
  background-color: white;
  transition: 0.3s ease-out;
}

/* end of call to action section */

/* start of footer code */

footer {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 14px;
  padding: 50px;
}

.footer-title {
  font-size: 24px;
}

.footer-contact {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-contact h3 {
  margin-top: 1em;
}

.footer-list {
  margin-top: 1em;
  line-height: 2em;
  list-style: none;
}

.footer-list .grey {
  font-family: Roboto-light;
  color: grey;
}

.contact-info p {
  margin-top: 20px;
}

.footer-socials {
  margin-top: 20px;
}

.footer-icons {
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.footer-icons:hover {
  transform: scale(1.2);
}

.map {
  display: flex;
  align-items: center;
}

.footer-about-us {
  flex: 1;
}

.footer-list .link {
  text-decoration: none;
  color: grey;
  font-family: Roboto-light;
}

.footer-list .link:hover {
  color: palevioletred;
  transition: 0.3s ease-out;
}

.footer-about-us p {
  margin-top: 20px;
}

.payment {
  margin-top: 20px;
}

.user-info {
  flex: 1;
}

/* end of footer code */
